* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

button {
    margin: 10px;
}

#board {
    height: 56vh;
    width: 70vw;
    margin: 5% auto;
    background: linear-gradient(to right bottom, #5D69BE 50%, #c89FEB);
    border: 10px solid darkblue;
}

.square {
    display: inline-block;
    height: 24%;
    width: 19%;
    border-radius: 50%;
    border: 5px solid darkblue;
    background: white;
}

#title-box {
    
}

#message-box {
    height: 10%;
    margin: 5px 0 0 0;
}