@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background: linear-gradient(white 80%, rgb(230, 95, 110))
}

button {
    margin: 10px;
    font-family: 'Bungee Spice', cursive;
    font-size: 20px;
    border: 2px solid grey;
}

button:hover {
    box-shadow: 10px 5px 5px black;
    cursor: pointer;
    border: 2px solid black;
}

#board {
    height: 70vh;
    width: 56vw;
    margin: 5% auto;
    background: linear-gradient(to right bottom, #5D69BE 50%, #c89FEB);
    border: 10px solid darkblue;
}

.square {
    display: inline-block;
    height: 24%;
    width: 19%;
    border-radius: 50%;
    border: 5px solid darkblue;
    background: white;
}

#title-box {
    font-family: 'Shadows Into Light';
    font-size: 25px;
    color: red;
}

#message-box {
    height: 10%;
    margin: 5px 0 0 0;
}

h2 {
    font-family: 'Shadows Into Light'; 
    font-size: 30px;
}

.h2Text {
    color: red;
    font-family: 'Shadows Into Light';
    font-weight: bold;
}

.t {
    font-size: 55px;
}